*{
    box-sizing:border-box;
}

body{
    margin:0;
}

header{
    box-shadow: 0px 0px 10px grey;
    margin: 0px 0px 6px 12px;
}
.logo{
    
    display:inline-block;
    width: 50%;
    
}

.enlaces_header {
    display:inline-block;
    position:absolute;
    top:20px; 
    right: 40px;
    text-align: left;
    padding-left: 1600px;
    padding-bottom: 20px;
    font-size: 1rem;

}

.enlaces_header p {
    margin: 6px 0 6px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.enlaces_header a {
    text-decoration: none;
    color:deepskyblue;
    font-family: Arial, Helvetica, sans-serif;
}

#main{
    padding:20px;
}