*{
    box-sizing:border-box;
    font-family: sans-serif;
}

body{
    margin:0;
}

header{
    position:relative;
    font-size: 0;
    box-shadow: 0px 0px 10px 0px rgb(192, 185, 185);
    margin: 0px 0px 6px 0px;
    padding-left: 30px;
}
header div{
    display: inline-block;
}
.logo{  
    display:inline-block;
    width: 50%;
}

.logeo_terceros {
    width: 200px;
}

.enlaces_header {
    display:inline-block;
    position:absolute;
    right: 40px;
    text-align: left;
    padding-left: 1600px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1700px;
}

.enlaces_header p {
    margin: 6px 0 6px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;;
   
}

.enlaces_header a {
    text-decoration: none;
    color:deepskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

main{
    width: 90%;
    max-width: 562px;
    margin: auto;
}

a{
    text-decoration: none;
    color: #70a7f2;
}

img.red_social{
    height: 30px;
}

button{
    background: white;
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 21px;
    margin-top: 20px;
    border-color: lightgray;
    border-style: dashed;
    color: lightgray;
    font-weight: bold;
}

h3{
    font-weight: lighter;
}

div.pass {
    margin-top: 20px;
}

label {
    font-weight:bold;
}

label.texto_legal {
    font-weight: initial;
}

input:not([type='checkbox']) {    
    position: relative;
    max-width: 400px;
    height: 36px;
    width: 100%;
    border: 1px solid #9d9d9d;
    margin-top: 6px;
    margin-bottom: 6px;
    display: block;
    border-radius: 4px;
}

::placeholder {
    color: rgb(185, 185, 185);
    opacity: 1; /* Firefox */
  }

div.checkbox{
    margin-top: 20px;
}

footer{    
    box-shadow: 0px -2px 5px -2px rgb(192 185 185);
    margin: 30px 0px 0px 0px;
    padding: 20px 0;
    padding-left: 30px;
}

footer .corporacion {
    margin-right: 25px;
}

footer a{
    text-decoration: none;
    color:grey;   
}

footer nav {
    display: inline;
}

footer nav a {
    padding: 0 10px;
}