*{
    box-sizing:border-box;
}

body{
    margin:0;
}

header{
    position:relative;
    font-size: 0;
    box-shadow: 0px 0px 10px 0px rgb(192, 185, 185);
    margin: 0px 0px 6px 0px;
    padding-left: 30px;
}
header div{
    display: inline-block;
}
.logo{
    
    display:inline-block;
    width: 50%;
    
}

.enlaces_header {
    display:inline-block;
    position:absolute;
    right: 40px;
    text-align: left;
    padding-left: 1600px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1700px;


}

.enlaces_header p {
    margin: 6px 0 6px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;;
   
}

.enlaces_header a {
    text-decoration: none;
    color:deepskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

#main{
    padding:20px;
}